<header class="pageheader">
<h2>About</h2>
</header>

<div class="songarticle">
<h3>What is Triple J's Hottest 100?</h3>
<p><a href="http://www.abc.net.au/triplej/hottest100/17/" target="_blank">Triple J Hottest 100</a> is an annual music listener poll hosted by national Australian radio station, <a href="http://www.abc.net.au/triplej/" target="_blank"> Triple J</a>.</p>
<br />
<p>The public is invited to vote for their favourite songs of the year, in an online poll conducted two weeks prior to the new year.</p>
<br/>

<h3>What is this site?</h3>
<p>This site is a fan listing of <a href="http://www.abc.net.au/triplej/hottest100/17/" target="_blank">Triple J's hottest 100</a> hits through the years.</p>
<p>It is not related to Triple J, nor any of the artists</p>
<br/>


<h3>How did you make this site?</h3>
<p><a href="https://ruby-doc.org/" target="_blank">Ruby</a> development framework - <a href="http://sinatrarb.com/" target="_blank">Sinatra</a>.</p>
<p><a href="https://www.postgresql.org/" target="_blank">PostgresSQL</a> database</p>
<p>Object Relational Mapper - <a href="https://github.com/rails/rails/tree/master/activerecord" target="_blank">ActiveRecord</a></p>
<p>Deployed on <a href="https://herokuapp.com/">heroku</a></p>
</br>
<p> More details on <a href="https://github.com/natalieytan/hottest100list/" target="_blank">github</a>.</p>
<br/>

<h3>Where did you get the data from?</h3>
<p>Song information was scraped from <a href="https://en.wikipedia.org/wiki/Triple_J_Hottest_100,_2017" target="_blank">wikipedia articles</a>, then passed through <a href="https://developers.google.com/youtube/v3/" target="_blank">youtube's API</a> to obtain links for the videos and images.</p>
<br/>


</div>