<header class="pageheader">
<h2>About</h2>
</header>

<div class="songarticle">
<h3>What is Triple J's Hottest 100?</h3>
<p>The Triple J Hottest 100 is an annual music listener poll hosted by national Australian radio station, <a href="http://www.abc.net.au/triplej/" target="_blank"> Triple J</a>.</p>
<br />
<p>The public is invited to vote for their favourite songs of the year, in an online poll conducted two weeks prior to the new year.</p>
<br/>


<h3>How did you make this site?</h3>
<p>Sinatra back-end. More details on github.</p>
<br/>

<h3>How did you get the data?</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet delectus ex numquam at veniam perspiciatis itaque, voluptatem ducimus id. Non eum veritatis maxime iure voluptatem assumenda? Illo quo nesciunt laboriosam.
Provident assumenda vitae quidem magnam et officia. Quidem blanditiis nam quibusdam laudantium natus, est necessitatibus porro tempore iusto fugit a debitis deserunt doloremque odit qui architecto laborum obcaecati aut culpa.
Voluptatem non perspiciatis debitis aliquam molestiae quasi officia vero provident! Repellat deleniti rerum minima error, totam quisquam et facilis. Cum odit aut totam rem quod rerum laboriosam itaque quam quia.</p>
<br/>


</div>